@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/_grid.scss";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/eva-icons/style/eva-icons.css";

html,body {
  height: 100%;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

body, * {
  padding: 0;
  margin: 0;
}

*:not(i) {
  font-family: 'Roboto', sans-serif;
}
